[main]
db=mysql
transport=http
parser=xml

[common]
service_provider=1

[parser]

[transport]
port=9001
private_key=/home/alex/proj/UPGM/modules/centrtelecom/keys/centrtelecom/private.key
client_private_key_password=njncfvsqvty[fepty
client_certificate_password=njncfvsqvty[fepty
client_certificate=/home/alex/proj/UPGM/modules/centrtelecom/keys/centrtelecom/intercapitalTM150211.pem


[pay]
data_separator=$

[db]
host=localhost
port=3306
database=electropay_db1
username=pays_daemon
password=masteranubis

