[main]
stage.id.0=init
stage.id.1=check
stage.id.2=pay
stage.id.3=complete
stage.id.4=fatal

db.sql="select stage,session,kiosk, DATE_FORMAT(ctdate,\"%Y%m%d\") AS log_date, DATE_FORMAT(ctdate,'%Y%m%dT%T') as ct_date from centrtelecom_pays_ext where pay_id=$(1) union select 0,0,0,NULL,NULL"
db.sql.1=$pay.id
db.execute=$db.sql
stage.id=$db.field.stage
var.ct_session=$db.field.session
var.log_date=$db.field.log_date
var.ct_kiosk=$db.field.kiosk
var.ctdate=$db.field.ct_date
var.cterror=""

[init]
db.sql="insert into centrtelecom_pays_ext (`pay_id`, `stage`, `kiosk`) values ($(1), 1, round(rand()*100)+1);"
db.sql.1=$pay.id
db.execute=$db.sql
stage=main

# Payment check
[check]
request="https://$(1)?action=check&number=$(2)&amount=$(3)&receipt=$(4)&type=$(5)"

request.1=pgate.centertelecom.ru/adapter/intercapital/tm/proxy
request.2=$pay.data
request.3=$pay.summ
request.4=$var.ct_session
request.5=$common.service_provider

config.transport.method=get
config.transport.url=$request
print=$request
transport.write=""
print=$transport.read

parser.parse=$transport.read

code=$parser.get.response.code.
template.error=$code.message
var.cterror.cp1251=$parser.try_get.response.message.
template.error.CP_ERROR=$var.cterror
var.ctdate=$parser.get.response.date.
pay.error=$template.error

db.sql="update centrtelecom_pays_ext set ctdate=STR_TO_DATE('$(2)','%Y-%m-%dT%T') where pay_id=$(1);"
db.sql.1=$pay.id
db.sql.2=$var.ctdate
db.execute=$db.sql

db.sql="SELECT DATE_FORMAT(\"$(1)\",\"%Y%m%d\") AS log_date"
db.sql.1=$var.ctdate
db.execute=$db.sql
var.log_date=$db.field.log_date

stage=$code.act

[pay]
request="https://$(1)?action=payment&number=$(2)&amount=$(3)&receipt=$(4)&type=$(5)&date=123$(6)"

request.1=pgate.centertelecom.ru/adapter/intercapital/tm/proxy
request.2=$pay.data
request.3=$pay.summ
request.4=$var.ct_session
request.5=$common.service_provider
request.6=$var.ctdate

config.transport.method=get
config.transport.url=$request
transport.write=""
print=$transport.read

parser.parse=$transport.read

code=$parser.get.response.code.
template.error=$code.message
var.cterror.cp1251=$parser.try_get.response.message.
template.error.CP_ERROR=$var.cterror
pay.error=$template.error
stage=$code.act

[complete]
pay.result=completed
#db.sql="update centrtelecom_pays_ext set stage=3, ctdate=STR_TO_DATE('$(2)','%Y-%m-%dT%T') where pay_id=$(1);"
#db.sql.1=$pay.id
#db.sql.2=$var.ctdate
#db.execute=$db.sql

log.file="/tmp/CTK_$(1)_$(2)_itog_01.txt"
log.file.1=intercapital
log.file.2=$var.log_date
log.record="$(1)	$(2)	$(3)	$(4)	$(5)	$(6)
"
log.record.1=$pay.data
log.record.2=$common.service_provider
log.record.3=$var.ctdate
log.record.4=$pay.summ
log.record.5=0.00
log.record.6=$var.ct_session
log.write=$log.record

[success]
stage=$stage.next
db.sql="update centrtelecom_pays_ext set stage=stage+1 where pay_id=$(1);"
db.sql.1=$pay.id
db.execute=$db.sql

[fatal]
pay.result=failed
db.sql="update centrtelecom_pays_ext set stage=4 where pay_id=$(1);"
db.sql.1=$pay.id
db.execute=$db.sql

[sleep]
pay.result=sleep
pay.sleep=30

